---
 
<span style="color: #000000; font-family: Lucida Console; font-size: 2em;">
<b>Tutorial de python (bases de datos)</b>
</span>
 
---

# INTRODUCCION A LAS BASES DE DATOS

## Definiciones básicas

### Procesamiento de Archivos vs Bases de Datos

Archivos:
* Datos repetidos. 
* No se manejan estándares. 
* Había inconsistencia de datos. 
* Falta de seguridad en los datos. 
* No existían aplicaciones de uso general. 	BASES DE DATOS


Bases de datos:
* Eliminar redundancias. 
* Poder compartir los datos. 
* Cumplir normas establecidas. 
* Mantener integridad y seguridades de datos. 
* Reducir inconsistencias.

### __Base de Datos:__

¿Qué es una base de datos?
* Es un repositorio en donde guardamos información que podemos almacenar y guardar. 
* Es un conjunto de tablas y procesos organizados, estructurados, relacionadas entre si, con la finalidad de manipular datos. 

Más definiciones de Base de Datos
* Fondo común de información almacenada en una computadora para que cualquier persona programa autorizado pueda acceder a ella, independientemente de su procedencia del uso que haga.

Existen programas denominados sistemas gestores de bases de datos, abreviado __SGBD__, que permiten almacenar y posteriormente acceder a los datos de forma rápida y estructurada.

__Componentes:__
* Hardware: dispositivo de almacenamiento (en nuestro caso ninguno especial). 
* Software: DBMS ó Sistema de Gestión de Base de Datos (SGBD). En nuestro caso [sqlite3](https://www.sqlite.org/index.html) (descargar sqlite-tools-win32-x86-XXXXXXX.zip). Otro SGBD es MYSQL.  
* Datos almacenados y procesados.

__Tipos de usuarios:__
* Usuario Final: Persona que usa los datos. 
* Desarrollador de Aplicaciones: Persona que desarrolla aplicaciones para el sistema en algún lenguaje de programación (que normalmente requerirán algún tipo de librería). 
* DBA (Administrador de Base de Datos):
    * Persona que asegura la integridad, inconsistencia, seguridades de datos. 
    * Esta se encarga del mantenimiento periódico o diario de la base de datos. 
    * Interactúan con la base de datos

### __Modelización de una base de datos__:

Modelización de una base de datos: Tenemos que crear la estructura de una base de datos para almacenar los datos de un problema.
* Modelos de datos lógicos: Destacan los modelos ENTIDAD-RELACIÓN y el modelo orientado a objetos. Usaremos el modelo [__ENTIDAD-RELACIÓN__](https://es.wikipedia.org/wiki/Modelo_entidad-relaci%C3%B3n).
* Modelos de datos implementables: Usaremos el modelo [__RELACIONAL__](https://es.wikipedia.org/wiki/Modelo_relacional), aunque también están el jerárquico y el modelo en red ([modelos](https://es.wikipedia.org/wiki/Modelo_de_base_de_datos)). El modelo relacional es el modelo que siguen gran cantidad de Sistemas de Bases de Bases como son Oracle, MySQL, Postgresql, Microsoft sql server, sqlite, etc y consta de lo siguiente:
    * Definición de tablas para almacenar datos.
    * Álgebra Relacional: Operaciones con los datos (entre las tablas)

Del modelo E-R pasaremos al modelo RELACIONAL mediante la conversión a tablas.

## Modelo entidad-relación

El modelo E-R es un mecanismo formal para representar y manipular información de manera general y sistemática. En él cualquier dato o concepto debe ser definido o modelado de manera única, posteriormente se establecerán las conexiones con otros datos.

### Elementos del modelo E-R

#### Entidades

Las entidades son objetos distinguibles de los demás (libro, empleado, departamento, asignatura).

Todas las entidades tienen __atributos__ que son las propiedades que caracterizan un conjunto de entidades (dni, nombre, sueldo, etc.).

Si uno o varios atributos se usan para identificar a una entidad de manera unívoca a ese conjunto de atributos los llamaremos __clave primaria__ (por ejemplo el dni).

#### Entidades débiles

Son entidades que aún teniendo atributos propios ningún subconjunto de ellos permite identificar unívocamente a ese entidad (no hay clave primaria) y para ello hemos de relacionar esa entidad con otra que llamaremos entidad fuerte (por ejemplo los asientos de un avión con un avión, los movimientos con una cuenta).

#### Asociaciones o relaciones

Conexión semántica entre dos o más conjuntos de entidades (autor escribe libro, empleado trabaja departamento).
* Muchos a muchos: libros y autores
* Uno a muchos: departamentos y empleados (un empleado no puede estar en varios departamentos), una copia de un libro sólo la puede tener una persona.
* Uno a uno: relación estar casado, persona-número de historial.

Las relaciones pueden tener atributos por ejemplo trabajador trabaja (fecha de alta) en departamento.
Existen relaciones que conectan un conjunto de entidades consigo mismo (por ejemplo empresa trabaja para empresa).

#### Diagramas

Símbolos con los que representamos las entidades, los atributos y las relaciones. Para los diagramas que puedes ver en esta página se ha utilizado la herramienta [dia-sotfware](http://dia-installer.de/). Otra herramienta para la creación de diagramas es [yEd](https://www.yworks.com/yed-live/).

<img  src="https://www.dropbox.com/s/rqxkbu13gy7nyzp/Diagrama2.gif?raw=1"/>

Relaciones y entidades débiles

<img  src="https://www.dropbox.com/s/p752dm4zhuh9me6/Diagrama3.gif?raw=1"/>

### Otros tipos de elementos

##### Generalización y especialización

<img  src="https://www.dropbox.com/s/wkv1cintpy8f5bm/DiagramaGyE.gif?raw=1"/>

##### Agregación

<img  src="https://www.dropbox.com/s/41rwg9aab970i2s/agregacion.gif?raw=1"/>

\begin{example}
Tenemos `usuarios`, `libros` y `bibliotecarios`. Tenemos una relación `prestamo` entre `usuarios` y `libros` (uno a muchos) y queremos controlar el bibliotecario que entrega cada libro. 
\end{example}

##### Relaciones n-arias

<img  src="https://www.dropbox.com/s/l70h2ocw69o5vxh/Diagrama1.gif?raw=1"/>

Estos diagramas hay que saber transformarlos a diagramas en los que solamente aparezcan relaciones entre dos elementos del tipo entidad-entidad, entidad-generalización, generalización-generalización.

## Del modelo E-R al modelo relacional

La única estructura presente en el modelo relacional es la tabla. Vemos como pasar la información de los diagramas anteriores a tablas que contendrán nuestros datos.

### Entidades: 
Paso directo, tenemos una tabla con todos los atributos de la entidad. La clave primaria hace que la tabla no contenga filas repetidas.

### Entidades débiles: 
La tabla correspondiente contendrá todos los atributos propios más la clave primaria del cnjunto de entidades fuertes del que depende.

### Relaciones: 
La tabla correspondiente tendrá como atributos las claves primarias de los elementos relacionados más los atributos propios de la conexión.
* Muchos a muchos: La unión de las claves primarias de las entidades junto con algún atributo de la relación (deenderá de su significado) formará la clave primaria de la tabla obtenida.
* Muchos a uno: La clave primaria de la entidad UNO suele ser la clave primaria de la tabla (quizás falte añadir algún atributo de la relación).
* Uno a Uno: Cada clave primaria en las entidades es clave primaria en la tabla que obtenemos (solamente se elegirá una de ellas).

### Generalización: 
Para la generalización 

<img  src="https://www.dropbox.com/s/m7n24oikgv4mj9q/esp2.gif?raw=1"/>

tenemos dos opciones.
* Podemos crear una tabla para cada una de las entidades. Tendríamos así las tablas EMPLEADO(NRP,NOMBRE, DIRECCIÓN), FUNCIONARIO(NRP,NIVEL, FECHAALTA) y LABORAL(NRP,GRUPO, ESPECIALIDAD).
* La entidad superior desaparece y tenemos las tablas FUNCIONARIO(NRP,NOMBRE, DIRECCIÓN, NIVEL, FECHAALTA) y LABORAL(NRP,NOMBRE, DIRECCIÓN,GRUPO,ESPECIALIDAD).

### Agregación: 
Las agregaciones no se reflejan en tablas aunque cuando intervienen en una relación hay que pensar que su clave primaria es la de la relación contenida en ella.

### Relaciones n-arias: 
En general, estas relaciones se pueden estudiar aplicando las reglas de las relaciones binarias. Vemos el caso de las relaciones ternarias.

#### Muchos-muchos-muchos: Se utilizan las claves primarias de las entidades y los atributos de la relación. La tabla en este caso es SUMINISTRO(COD-PROV,COD-PROY,COD-PIE).

<img  src="https://www.dropbox.com/s/l70h2ocw69o5vxh/Diagrama1.gif?raw=1"/>

#### Muchos-muchos-uno: Lo más usual es obtener para este caso la tabla SUM(COD-PIEZA,COD-PROV,COD-PROY).

<img  src="https://www.dropbox.com/s/l32dso46tgw6cvt/Diagrama1-1.gif?raw=1"/>

#### Muchos-uno-uno: 
Tenemos en este caso hasta tres posibles interpretaciones de la relación. Por ello, para obtener las tablas de este tipo de relación ternaria hemos de expresarla usando relaciones binarias y generalizaciones.

<img  src="https://www.dropbox.com/s/p21kv17xzz5n33r/Diagrama4.gif?raw=1"/>

Tenemos las tres interpretaciones siguientes, obteniendo para cada interpretación dos tablas. El par de tablas obtenidas son diferentes según sea la interpretación de nuestra relación.

<img  src="https://www.dropbox.com/s/61n0cszs180gsc3/Diagrama6.gif?raw=1"/>

<img  src="https://www.dropbox.com/s/syex6hj6y768yc8/Diagrama5.gif?raw=1"/>

<img  src="https://www.dropbox.com/s/ny5xf94t03p4iv6/Diagrama7.gif?raw=1"/>

#### Uno-Uno-Uno: En este caso obtenemos una sola tabla con las claves de cada una de ellas. Elegiremos a una de las tres como clave de la nueva tabla.

## Ejercicios

### Ejercicio 1

Se trata de organizar la información relativa a una compañía de seguros de automóvil, donde se mantienen datos acerca de los clientes, los vehículos, las pólizas y los partes de accidente. Tenemos las siguientes restricciones:
* Un cliente puede tener asegurado más de un vehículo en la compañía.
* Cada vehículo posee una única póliza de seguro que tendrá un precio en función de la cobertura que se haya contratado y de las características del vehículo.
* Sobre los siniestros ocurridos deberá conocerse la fecha, el lugar, la causa y la cuantía de los daños ocasionados. Cada tipo de siniestro o accidente (colisión múltiple, adelantamiento indebido, exceso de velocidad, etc.) va identificado por un código.
* En un accidente pueden estar involucrados varios vehículos asegurados por la misma compañía.

<img  src="https://www.dropbox.com/s/2egp18ku0iq55jl/seguros.gif?raw=1"/>

### Ejercicio 2

Gestión de la información que se manipula en un hospital sobre pacientes, médicos, historias clínicas, ingresos, pruebas, etc. Tenemos la siguiente situación:
* Cada paciente tiene asociada una historia clínica única que se genera la primera vez que el paciente visita el hospital y en la cual se van anotando todos sus ingresos.
* Las habitaciones pueden tener varias cama, que irán numeradas y serán de un determinado tipo.
* Durante un ingreso, el paciente ocupará una misma cama y se le podrán realizar tantas pruebas como sea necesario.
* Los distintos tipo de pruebas van codificadas y se realizan con un aparato determinado en una sala determinadas.
* Es importante saber cuándo (día y hora) se ha realizado cada una de las pruebas a un paciente y qué especialista la ha llevado a cabo.
* Los atributos asociados a cada conjunto de entidades serán los habituales en estos casos.

<img  src="https://www.dropbox.com/s/uktg2p34i1kq2ce/hospital.gif?raw=1"/>

### Ejercicio 3

Ejemplo de uso de diagramas con modelo de gestión universitaria: nuestras entidades son departamentos, profesores, asignaturas, grupos, matrículas, alumnos, aulas, etc. 
* Un profesor pertenece a un solo departamento.
* Un profesor puede impartir varios grupos de la misma o diferente asignatura y un grupo ha de ser impartido por al menos un profesor.
* Hay grupos de teoría y de prácticas con un máximo de alumnos por grupo.
* Los grupos tienen clase a días y horas determinadas.
* Los alumnos que se matriculan en una asignatura lo hacen en grupo determinado.
* Todo departamento tiene un director.

### Ejercicio 4

Disponemos de los siguientes elementos de información: Tarjetas de crédito (identificadas por un número), titulares de dichas tarjetas (de los que conocemos DNI, domicilio y teléfono) y cuentas corrientes (con un código, saldo y fecha de apertura). Las restricciones que tenemos son:
* Cada persona puede tener más de una tarjeta.
* Cada tarjeta tiene un único titular o propietario.
* Cada tarjeta está asociada a una única cuenta.
* Podemos cargar más de una tarjeta a una cuenta determinada.
* Cada cuenta pertenece a una sola persona.
* Una persona puede tener más de una cuenta.

# Modelo de datos relacional
[ver definición](https://en.wikipedia.org/wiki/Relational_model)

## Definiciones
Las definiciones que vienen a continuación describen de forma general las propiedades que una base de datos relacional ha de tener. También servirán para definir su lenguaje de consultas asociado

\begin{definition}
LLamaremos atributo a cualquier elemento de información del "mundo" que vamos a representar.
\end{definition}

\begin{definition}
Llamaremos dominio $D_i$ al conjunto de valores que puede tomar un determinado atributo $A_i$.
\end{definition}

\begin{definition}
Consideremos los atributos $A_i$, $i\in\{1,\ldots,n\}$ con dominios asociados $D_i$ (no necesariamente distintos). Decimos que $R$ es relación asociada a los atributos $A_1,\ldots,A_n$ si $R$ es un subconjunto finito del producto cartesiano $D_1\times\cdots\times D_n$.

Al conjunto de atributos lo escribiremos de la forma $[A_1,\ldots,A_n]$ y a los elementos de la $R$ de la forma $t=(x_1,\ldots,x_n)$.

Si queremos solamente obtener los atributo $A_{i_1},\ldots,A_{i_r}$ de una tupla $t$ escribiremos $t[A_{i_1},\ldots,A_{i_r}]$.
\end{definition}

La relaciones también son conocidas como las tablas de la base de datos.

\begin{definition}
Una base de datos relacional es un conjunto finito de relaciones.
\end{definition}

Propiedades de las relaciones:
\begin{itemize}
\item No hay orden en las tuplas.
\item No hay orden en los atributos.
\item Los valores que puede tomar un atributo en una relación son atómicos, en el sentido de que no tiene estructura, son escalares. No hay listas en esos valores por lo que el número de columnas de una tabla (o relación) es fijo.
\item No hay tupla duplicadas en una misma relación.
\end{itemize}

\begin{textboxa}
Solamente trabajaremos con relaciones.
Las relaciones serán conjuntos cuyos elementos son tuplas.
Las distintas posiciones (o valores de sus atributos) de las tuplas se pueden siempre acceder por su nombre.
\end{textboxa}

\begin{definition}
Consideremos una relación $R[A_1,\ldots,A_n]$ y $CC\subseteq \{A_1,\ldots,A_n\}$. Diremos que $CC$ es una \textbf{clave candidata} de $R$ si verifica lo siguiente:
\begin{itemize}
\item Unicidad: para todo $t_1,t_2$ tuplas de $R$ se tiene que $t_1[CC]\neq t_2[CC]$.
\item Minimalidad: No existe $CC'\subsetneq CC$ tal que verifique la condición anterior.
\end{itemize}
\end{definition}

\begin{definition}
De entre todas las claves candidatas el diseñador elegirá una a la que llamaremos \textbf{clave primaria}.
\end{definition}

\begin{textboxa}
Toda relación tiene siempre una clave primaria. Si hiciera falta se elegirían todos los atributos de nuestra relación.
\end{textboxa}

## Reglas de integridad

\begin{definition}
Llamamos \textbf{regla de integridad} a toda propiedad que ha verificar los elementos de las relaciones para mantener la coherencia de los datos.
\end{definition}

\begin{definition}
Decimos que una regla de integridad es \textbf{específica} si proviene de la semántica del atributo. Son propias de cada base de datos concreta. Por ejemplo si un atributo es EDAD las tupla no pueden tomar valores negativos en ese atributo.
\end{definition}

Las reglas de integridad específicas las daremos al definir las tablas

Existen reglas de integridad genéricas aplicables a toda base de datos.

\begin{definition}
\textbf{Regla de integridad de entidad:} los atributos que forman parte de una clave primaria no pueden tomar valores nulos, ni siquiera parcialmente.
\end{definition}

Un valor nulo es un valor desconocido. No se introdujo al meter los datos en la tabla.

\begin{definition}
Sea $R[A_1,\ldots,A_n]$ una relación con clave primaria $CP$, $S[B_1,\ldots,B_p]$ otra relación y $CE\subseteq \{B_1,\ldots,B_p\}$ tal que $\textrm{Cardinal}(CP)=\textrm{Cardinal}(CE)$ con dominios iguales ($CP$, que es un conjunto de atributos, coincide con $CE$ que también es un conjunto de atributos). Decimos que \textbf{ $CE$ es clave externa con respecto a $CP$} si se verifica que
\textbf{para toda tupla $t\in S$,  existe una tupla $t'\in R $  tal que $t[CE]=t'[CP]$}.
\end{definition}

\begin{textboxa}
Si tenemos el atributo DNI en la tabla MATRICULAS, ese DNI ha de aparecer en la tabla ALUMNOS. Tenemos que
MATRICULAS.DNI es clave externa con respecto a ALUMNOS.DNI.
\end{textboxa}

\begin{definition}
\textbf{Regla de integridad referencial:} Si una relación incluye una clave externa \textbf{conectada a una clave primaria}, el valor de la clave externa debe ser igual a un valor ya existente de la clave primaria o completamente nulo (esto último únicamente si el problema lo permite).

Si incluimos en una relación $S$ un la clave primaria de otra relación $R$, ese subconjunto de atributos de $S$ se convierte en clave externa con respecto a la clave primaria de $R$.
\end{definition}

Mantenimiento de las reglas de integridad de entidad:
\begin{itemize}
\item Mantenimiento de la integridad de entidad: Se debe comprobar que el valor de los atributos que forman parte de una clave primaria no es nulo y que el valor conjunto de ellos no se repite en los procesos de inserción y de actualización.
\end{itemize}

Mantenimiento de integridad referencial:
\begin{itemize}
\item En una inserción se debe comprobar que el valor de una clave externa sea nulo o concuerde con un valor de la clave primaria de la relación a la que hace referencia.
\item En una actualización si se actualiza la clave externa se deben comprobar las condiciones de clave externa. Si se actualiza la clave primaria se deben actualizar en cadena las claves externas que tomen los valores antiguos de dicha clave primaria.
\item En una operación de borrado se deben borrar en cadena las tuplas cuyas claves externas concuerden con la clave primaria de la tupla borrada o poner a nulo en cadena el valor de la clave externa si las demás restricciones de integridad lo permiten.
\end{itemize}

\begin{textboxa}
La integridad de nuestros datos ha de ser mantenida por el sistema de gestión de bases de datos que tengamos, aunque en muchos sistemas esto a veces no sucede.
\end{textboxa}

# Lenguajes de consultas SQL y bases de datos relacionales
[definición SQL](https://en.wikipedia.org/wiki/SQL), [definición Base de Datos Relacional](https://en.wikipedia.org/wiki/Relational_database)

Podemos usar distintos programas de gestión de bases de datos. 
Los dos que usaremos son `sqlite` y `mysql`.
Aunque el más completo es `mysql` requiere la instalación de un programa de al unos 200MB en el ordenador. En cambio 
`sqlite` solo requiere la descarga del programa [`sqlite3.exe`](https://sqlite.org/2016/sqlite-tools-win32-x86-3150100.zip) de menos de 1MB para poder empezar a crear una base de datos y operar en ella.

## Creación de la base de datos

Ejecutamos el programa `sqlite3.exe`.

Algunas de las órdenes que tenemos son:
\begin{itemize}
	\item .databases
	\item .tables
	\item .schema TABLA, donde `TABLA` es una de las tabla de nuestra base de datos.
\end{itemize}
Para crear una nueva base de datos hemos de usar el comando
\begin{textboxa}`.open pr1.dat`\end{textboxa} 
donde `pr1.dat` es el
nombre del fichero en el que quedará almacenada nuestra base de datos. Para eliminar la base de datos anterior basta con eliminar el fichero creado.

## Creación de tablas

Tipos de datos que tenemos:
\begin{itemize}
\item `INT` o `INTEGER`: Entero con signo,
\item `FLOAT`: Número con parte decimal,
\item `CHAR(n)`: Cadena de $n$ caracteres,
\item `VARCHAR(n)`: Cadena de caracteres de longitud variable y con un máximo de $n$ caracteres,
\item `DECIMAL(p,s)`: Número de $p$ dígitos $s$ de las cuales son cifras decimales,
\item `LONG`: Entero largo,
\item `DATE`: Fecha,
\item `TIME`: Hora,
\item `DATETIME`: Fecha-hora.
\end{itemize}

### Ejemplos

#### Ejemplo sencillo, ordenes `.schema` y `drop`

`
CREATE TABLE alumnos(
DNI CHAR(8), nomalum VARCHAR(50), fechanac DATE, 
direccion VARCHAR(40), provincia VARCHAR(20), beca VARCHAR(2)
);
`

En la línea de comandos podemos ejecutar las siguientes órdendes en el `Windows Command Prompt`:
* sqlite3.exe
* .open prueba.db
* CREATE TABLE alumnos ...
* .tables
* .schema alumnos

Para eliminar la tabla ejecutamos `drop table alumnos`. La orden `.schema nombre_tabla` nos muestra como se ha definido una tabla.

#### Con clave primaria

`
CREATE TABLE alumnos (
DNI CHAR(8) PRIMARY KEY,
 nomalum VARCHAR(50), fechanac DATE, direccion VARCHAR(40), provincia VARCHAR(20), beca VARCHAR(2)
);
`

#### Con clave primaria con varios atributos

`CREATE TABLE matriculas(
codasig CHAR(4), codgrupo CHAR(4), tipo CHAR(1), DNI CHAR(8), 
convocatoria INT, calificacion DECIMAL(3,1),
PRIMARY KEY(codasig, codgrupo, tipo, DNI, convocatoria)
);`

#### Con control sobre las claves candidatas (control de unicidad)

`CREATE TABLE asignaturas(
codasig CHAR(4) PRIMARY KEY,
nomasig VARCHAR(30) UNIQUE,
creditos DECIMAL(4,1), caracter CHAR(2), curso DECIMAL(1,0)
);`

`CREATE TABLE asignaturas(
codasig CHAR(4) PRIMARY KEY,
nomasig VARCHAR(30),
creditos DECIMAL(4,1), caracter CHAR(2), curso DECIMAL(1,0),
UNIQUE(nomasig)
);`

#### Control de valores nulos

`CREATE TABLE profesores(
NRP CHAR(8) PRIMARY KEY NOT NULL, nomprof VARCHAR(35) NOT NULL, 
categoria CHAR(2) CHECK (categoria IN ('AS','TE','TU','CU')),
area VARCHAR(20), coddep CHAR(4)
);`

#### Control de rango en columna

`CREATE TABLE aulas(
codaula CHAR(4) PRIMARY KEY,
capacidad DECIMAL 
    CHECK ((capacidad>=0)AND(capacidad<=150)AND(capacidad<>0))
);`

`CREATE TABLE aulas(
codaula CHAR(4) PRIMARY KEY,
capacidad DECIMAL CHECK (capacidad BETWEEN 0 AND 150)
);`

`CREATE TABLE asignaturas(
codasig CHAR(4) PRIMARY KEY,
nomasig VARCHAR(30) UNIQUE,
creditos DECIMAL(4,1),
caracter CHAR(2) CHECK (caracter IN ('tr','ob','op')),
curso DECIMAL CHECK (curso BETWEEN 1 AND 5)
);`

#### Claves externas:
en `sqlite` si vamos a utilizar claves externas hemos de indicarlo previamente con la orden 
`PRAGMA foreign_keys=ON;`
La línea anterior la podemos poner al comienzo de nuestro fichero `.sql`

`CREATE table departamentos(
    iddep varchar(5) primary key not null,
    nombre varchar(50),
    dniDirector char(8),
    foreign key (dniDirector) references profesores(NRP)
);
`

`CREATE TABLE grupos(
codgrupo CHAR(4) not null, codasig CHAR(4) not null,
tipo CHAR(1) CHECK (tipo IN ('T','P')) not null,
NRP CHAR(4),
maxal INT CHECK (maxal BETWEEN 10 AND 150),
PRIMARY KEY (codasig, codgrupo, tipo),
FOREIGN KEY (codasig) REFERENCES asignaturas(codasig),
FOREIGN KEY (NRP) REFERENCES profesores(NRP)
);`

`CREATE TABLE matriculas(
codasig CHAR(4) not null, codgrupo CHAR(4) not null, 
tipo CHAR(1) not null,
DNI CHAR(8) REFERENCES alumnos(DNI) not null,
convocatoria DECIMAL not null, 
calificacion DECIMAL,
PRIMARY KEY (codasig, codgrupo, tipo, DNI, convocatoria),
FOREIGN KEY(codasig, codgrupo, tipo) REFERENCES grupos(codasig,codgrupo,tipo)
);`

#### Mantenimiento de la integridad

`CREATE table departamentos(
    iddep varchar(5) primary key not null,
    nombre varchar(50),
    dniDirector char(8),
    foreign key (dniDirector) references profesores(NRP)
        on delete set null
        on update cascade
);
`

`CREATE table departamentos(
    iddep varchar(5),
    nombre varchar(50),
    dniDirector char(8),
    foreign key (dniDirector) references profesores(NRP)
        on delete cascade
        on update set null
);
`

`CREATE TABLE grupos(
codgrupo CHAR(4), codasig CHAR(4),
tipo CHAR(1) CHECK (tipo IN ('T', 'P')),
NRP CHAR(4),
maxal INT CHECK (maxal BETWEEN 10 AND 150),
PRIMARY KEY (codasig,codgrupo, tipo),
FOREIGN KEY (codasig) REFERENCES asignaturas(codasig)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
FOREIGN KEY (NRP) REFERENCES profesores(NRP)
    ON DELETE SET NULL
    ON UPDATE CASCADE
);`

#### Valores por defecto

`CREATE TABLE matriculas(
codasig CHAR(4), codgrupo CHAR(4), tipo CHAR(1),
DNI CHAR(8) REFERENCES alumnos(DNI),
convocatoria DECIMAL DEFAULT 1,
calificacion DECIMAL
%CONSTRAINT restric-rangocalif
CHECK ((calificacion>=0)AND(calificacion<=10)),
PRIMARY KEY (codasig,codgrupo,tipo,DNI,convocatoria),
FOREIGN KEY(codasig,codgrupo, tipo) REFERENCES grupos (codasig,codgrupo,tipo)
);`

En una tabla 

`create table t1(
    a integer,
    b integer
);`

si insertamos de la siguiente forma:
`insert into t1(b) values (11);`
el valor de a es nulo. Podemos hacer a continuación 
`select * from t1 where a is null;`
para comprobarlo.

### Ficheros `.sql`

Es más cómodo crear un fichero `tablas.sql` y poner en él todas las definiciones de nuestras tablas. Si usamos `mysql` la orden a usar es `source tablas.sql`, con `sqlite` la orden es `.read tablas.sql`.
De esta forma no tenemos que escribir todas las órdenes en la pantalla y las conservamos todas en un fichero lo cual es útil si estamos haciendo pruebas y queremos alterar las deficiones de las tablas de nuestra base de datos.

## Inserciones, borrados y actualizaciones

### Inserción

* `INSERT INTO id_tabla VALUES (valor1,valor2,...,valorn);`
* `INSERT INTO id_tabla(id_columna1,...,id_columnan) VALUES (valor1,valor2,...,valorn);`
* Cargar datos de una tabla desde un fichero con `sqlite`: 
    * `.separator '',''`
    * `.import ficheroDatos.txt nombreTabla`

Con las órdenes de inserción podemos e comprobar si nuestra base de datos tiene en cuenta las restricciones impuestas a los atributos de una tabla.

### Borrado

`DELETE FROM id_tabla [WHERE condición]}`

Ejemplos:
* `DELETE FROM alumnos;`
* `DELETE FROM alumnos WHERE beca='SI';`

* `delete from profesores where categoria ='TE' and NRP = 'nrp5';`
* `delete from profesores where categoria ='TE' or NRP = 'nrp5';`
* `delete from profesores where not categoria ='TE' and NRP = 'nrp5';`
* `delete from profesores where not (categoria ='TE' or NRP = 'nrp5') and area is not null;`

### Actualización

`UPDATE id_tabla SET id_columna=expresión [{,id_columna=expresión}] [WHERE condición];`

* `update profesores set nomprof='---',categoria='TU' where categoria='TE';`
* `update profesores set nomprof='juan',area='Álgebra' where NRP='nrp4';`
* `update profesores set area='Álgebra',nombre='Juan' where categoria='TU';`
* `update profesores set area='Álgebra',nomprof='Juan';`

## Consultas

### Consultas sobre una tabla

La forma de estas consultas es:
> `select id_col[,id_col] from id_tabla [ where cond];

Ejemplos:
* `select NRP,nomprof,categoria from profesores;`
* `select * from aulas;`
* `select * from profesores where categoria='AS' and (area='fisica' or area='quimica');`
* `SELECT * FROM aulas WHERE capacidad BETWEEN 30 AND 50;`
* `SELECT nomalum FROM alumnos WHERE provincia IN (’Cadiz’,’Malaga’) AND beca=’SI’;`
* `SELECT nomalum FROM alumnos WHERE nomalum<’juan’;`
* `SELECT * FROM alumnos WHERE nomalum LIKE ’%j%’;`
* `SELECT * FROM alumnos WHERE nomalum LIKE ’__j%’;`
* `SELECT * FROM alumnos WHERE nomalum LIKE ’j%’;`
* `SELECT * FROM alumnos WHERE nomalum LIKE ’j_%’;`
* `SELECT DNI FROM matriculas WHERE codasig IN ('asi1','asi2');`

Podemos pedir que los resultados sean devueltos de forma ordenada:
* `SELECT nomalum FROM alumnos WHERE beca=’si’ ORDER BY
nomalum;`
* `SELECT provincia, nomalum FROM alumnos ORDER BY provincia
DESC, nomalum ASC;`

Como se habrá podido observar, al realizar una búsqueda podemos obtener tuplas
repetidas. Siempre podemos hacer uso de DISTINCT para la eliminación de tuplas duplicadas:
* `SELECT DISTINCT categoria FROM profesores;`

### Escritura de resultados en un fichero

La escritura en un fichero de los
datos de una tabla se puede realizar como muestra la siguiente ordenes:
* `.output fichero.txt` (pedimos que las salidas sean enviadas a un fichero)
* `.mode csv` (cambiamos el modo de salida)
* `select * from alumnos;` (realizamos la búsqueda que queremos guardar)
* `.output stdout` (hacemos que la salida vuelva a la pantalla)

### Consultas sobre varias tablas

Las consultas sobre varias tablas se hacen
de la siguiente forma:
> `SELECT id_columna[{,id_columna}] FROM
id_tabla[{,id_tabla}] [WHERE condicion]`

Esta orden realiza el producto cartesiano entre varias tablas y selecciona algunas de sus columnas.

Ejemplos:
* `select profesores.nrp,grupos.nrp,grupos.codasig from
profesores,grupos where grupos.nrp=profesores.nrp;`
* `select profesores.nomprof,departamentos.nomdep from
profesores,departamentos where profesores.coddep=departamentos.coddep;`
* `select * from profesores as p1, profesores as p2;`
* `select p1.nomprof,p2.nomprof from profesores as p1, profesores as p2;`
* `select p1.nrp,p2.nrp from profesores as p1, profesores as p2 where p1.nrp<>p2.nrp;`

### Consultas anidadas

 Hay ocasiones en las que debemos anidar nuestras consultas (aparece una consulta dentro de otra).
Los siguientes ejemplos muestras las opciones más usadas en este tipo de consultas y
algunas clausulas que podemos usar en nuestras búsquedas (`IN`, `=`, `EXISTS`, `NOT EXISTS` y alias de tablas). Ejemplos:
* `select * from profesores,(select * from aulas where capacidad >40) t2 where t2.capacidad > 50;`

* DNI de alumnos matriculas en alguna optativa. 
> `SELECT DNI FROM matriculas WHERE codasig IN
(SELECT codasig FROM asignaturas WHERE caracter=’op’);`

* DNI de alumnos matriculados en alguna asignatura que no sea optativa. 
> `SELECT DISTINCT DNI FROM matriculas WHERE codasig NOT IN
(SELECT codasig FROM asignaturas WHERE caracter=’op’);`


* DNI de los que se han matricula de al menos una asignatura de primero. 
> `SELECT DISTINCT DNI FROM matriculas WHERE codasig IN
(SELECT codasig FROM asignaturas WHERE curso=1);`

* DNI de alumnos de la misma provincia que Ana.
> `SELECT DNI FROM alumnos WHERE provincia=(SELECT provincia
FROM alumnos WHERE nomalum=’ana’);`

* Nombre de las asignaturas en las que se ha matriculado al menos una persona.
> `SELECT nomasig FROM asignaturas WHERE EXISTS
(SELECT * FROM matriculas where matriculas.codasig=asignaturas.codasig);`

* Nombre de las asignaturas en las que se ha matriculado al menos una persona.
> `select nomasig from asignaturas where codasig in (select codasig from matriculas);`

* DNI de alumnos que no están matriculados de nada.
> `select dni from alumnos where not exists (select dni from
matriculas where dni=alumnos.dni);`

* Tabla con las aulas de menor capacidad.
>`select * from aulas a1 where not exists (select * from aulas a2 where a2.capacidad<a1.capacidad);`

* DNI de alumnos que no están matriculados de nada.
> `select DNI from alumnos where DNI not in(select DNI from matriculas);`


* Reunión bajo DNI de la tabla alumnos consigo misma.
> `select * from alumnos, alumnos a1 where alumnos.dni=a1.dni;`

* Nombre de las asignaturas y créditos de las asignaturas con grupos de cien
personas como máximo.
> `SELECT nomasig, creditos FROM
(SELECT DISTINCT codasig FROM grupos where maxal<=100) a1,
asignaturas
WHERE a1.codasig=asignaturas.codasig;`

* DNI de los que han obtenido la mayor nota en la asignatura de código ’asi1’.
> `select dni from matriculas t1 where codasig='asi1' and not exists 
(select dni from matriculas t2 where codasig='asi1' and t2.calificacion>t1.calificacion);`
* DNI de los que se han matricula de al menos una asignatura de tercero.
> `select dni from matriculas t1, asignaturas t2 where t1.codasig=t2.codasig and exists
(select * from asignaturas t3 where curso=3 and t3.codasig=t2.codasig);`
* Tabla con el DNI mínimo según el order lexicográfico.
> `select * from alumnos where dni in (select min(dni) from alumnos order by dni);`

* Tabla con las aulas de menor capacidad
> `select * from aulas where capacidad in (select min(capacidad) from aulas);`

Una opción que ayuda bastante al realizar búsquedas es la creación de tablas
temporales o vistas. Con la orden `CREATE VIEW` almacenamos las vista (ver [aquí](https://www.sqlite.org/lang_createview.html))

> `CREATE TEMP VIEW t1 AS SELECT dni,nomalum FROM alumnos WHERE nomalum<’juan’;`

>`SELECT * FROM t1 WHERE DNI <’d’;`

Para borrar ejecutamos la orden: 
> `drop view T1;`

Si queremos que la vista no sea temporal basta con quitar no usar la opción `TEMP`.

### Operadores de conjunto

* Unión:
`SELECT * FROM alumnos WHERE provincia=’cadiz’ UNION SELECT * FROM alumnos WHERE provincia=’sevilla’;`

* Intersección: `select * from alumnos where provincia=’cadiz’
intersect select * from alumnos where beca=’si’;`

* Diferencia: `select * from alumnos except select * from alumnos
where provincia=’sevilla’;`

* División: no tenemos esta operación pero con la clausula `EXISTS` podemos
realizarla. Ejemplo: 
> Asignaturas en las que están matriculados todos los alumnos de provincia=’Cadiz’. Fijamos asignaturas.codasig en la primera línea; el resto nos devuelve los
alumnos de Cádiz que no están matriculados en esa asignatura.
>> `SELECT codasig FROM asignaturas WHERE NOT EXISTS(
SELECT * FROM alumnos WHERE provincia=’cadiz’ AND
NOT EXISTS(
SELECT * FROM matriculas WHERE asignaturas.codasig=matriculas.codasig AND alumnos.DNI=matriculas.DNI ));`

Si tenemos las tablas:

| Taux1 | a1 | a2 |
|----|----|----|
|    | 1  | a  |
|    | 2  | b  |
|    | 2  | a  |
|    | 1  | b  |
|    | 2  | c  |
|    | 2  | d  |
|    | 1  | e  |

|Taux2|a2|
|--|--|
|  |a |
|  |b |
|  |c |

la división $Taux1 \div Taux2$ es 

|Resultado|
|---------|
|2|

Comparado con el ejemplo anterior es como si las asignaturas fuesen $1$ y $2$ y los alumnos de Cádiz $a$, $b$ y $c$. La división podría realizarse con la orden:
- `select distinct a1 from Taux1 t1 where not exists 
(select a2 from Taux2 t2 where not exists (select * from Taux1 t11 where t1.a1=t11.a1 and t2.a2=t11.a2)
);`

Con las tablas siguiente:
* ALUMNOS(DNI,NOMALUM,FECHANAC,DIRECCION,PROVINCIA,BECA)
* ASIGNATURAS(CODASIG,NOMASIG,CREDITOS,CARACTER,CURSO)
* PROFESORES(NRP,NOMPROF,CATEGORIA,AREA,CODDEP)
* DEPARTAMENTO(CODDEP,NOMDEP,DIRECTOR)
* AULAS(CODAULA,CAPACIDAD)
* GRUPOS(CODASIG,CODGRUPO,TIPO,NRP,MAXAL)
* CLASES(CODAULA,DIA,HORA,CODGRUPO,CODASIG,TIPO)
* MATRICULAS(CODASIG,CODGRUPO,TIPO,DNI,CALIFICACION,CONVOCATORIA)

realiza las siguientes consultas:

1. Mostrar los códigos de todas las aulas.
2. Profesores con categoría `AS` (asociado).
3. Profesores que no sean asociados y cuya área sea `MATEMATICAS` o `FISICA`.
4. Alumnos de Cádiz o Málaga con beca.
5. Alumnos que precedan por su nombre a `Juan`
6. Alumnos cuyo nombre empieze con H.
7. Alumnos cuyo nombre contenga una H.
8. Alumnos cuyo nombre tenga como segunda letra una H.
9. Precio de las asignaturas si el crédito vale 20.55 euros.
10. Asignaturas cuyos créditos estén entre 5 y 7.
11. Asignaturas de créditos desconocido (NULL).
12. Listado con las provincias de los alumnos (usar DISTINCT antes del atributo
provincia).
13. Nombre y NRP de cada profesor junto con el nombre del departamento al que
pertenece.
14. Lista de profesores de igual categor´ ıa que su director de departamento.
15. Listado con las diferentes categor´ ıas en el profesorado.
16. Tabla con N.R.P. y nombre de los profesores del departamento de matemáticas.
17. Tabla con nombre del departamento y nombre de su director.
18. Tabla con DNI y nombre de los alumnos de la asignatura topolog´ ıa que son
becarios.
19. Tabla con nombre y DNI de los alumnos que no sean de Cádiz y que estén
matriculados en alguna asignatura de primero.
20. Tabla con DNI y nombre de los alumnos de edad mayor o igual que la del
alumno ”José Fernández Fernández”.
21. Lista de profesores que imparten la asignatura topolog´ ıa.
22. Lista con las asignaturas optativas de tercero o cuarto.
23. Lista de códigos de las asignaturas en las que no se ha matriculado ningún
alumno.
24. Tabla con nombre y DNI de los alumnos de Sevilla que no estén matriculados
de asignaturas obligatorias.
25. Listado con las aulas que estén ocupadas todos los d´ ıas de la semana.
26. Listado con los departamentos que tengan profesores de todas las categor´ ıas.

### Claves, fechas, hora y funciones matemáticas y aleatorias (ver [funciones](https://www.tutorialspoint.com/sqlite/sqlite_useful_functions.htm) y [fecha y hora](https://www.tutorialspoint.com/sqlite/sqlite_date_time.htm))

* `select codaula,pow(capacidad,2) from aulas;`
* `select codaula,capacidad/3. from aulas;`
* `select capacidad+1 v from aulas where v>50;`
* `SELECT SUM(capacidad) FROM aulas;`
* `SELECT AVG(creditos) FROM asignaturas WHERE curso=1;`
* `SELECT MAX(creditos), MIN(creditos) FROM asignaturas;`
* `SELECT COUNT(*) FROM profesores;`
* `SELECT COUNT(DISTINCT nomprof) FROM profesores;`
* `SELECT AVG(capacidad) FROM aulas;`

* `SELECT DATE();`
* `SELECT TIME();`
* `SELECT DATETIME();`
* Podemos usar las funciones para insertar valores:
>`insert into alumnos values (’33’,’manolo’,date(),’ccc’,’malaga’,’si’);`
* `SELECT strftime('%s','now');`
* `SELECT strftime('%s','now')-strftime('%s','2011-12-17');`

* `SELECT LOWER(’aAbBcC’);`
* `select lower(provincia) aux1,DNI from alumnos where aux1='cadiz';`
* `select provinciA,DNI from alumnos where lower(PROVINCIA)='cadiz';`
* De nuevo, puede resultar útil al insertar valores:
>`INSERT INTO AULAS VALUES(LOWER(’AUL’),77);`
* `SELECT upper(’aAbBcC’);`
* `SELECT LENGTH(’01234567890123456789012345678901234567890’);`

Varianza:
* `create table t1(a integer);`
* `insert into t1 values (5),(7),(9);`
* `select (avg(a*a)-avg(a)*avg(a)) from t1;`

Concatenación de cadenas de caracteres:
* `SELECT "HOLA"||"abc";`
* `SELECT date()||' '||time();`

### Consultas agrupadas

Realiza agrupaciones en las salidas de una consulta. Se puede considerar que divide
la consulta en subconsultas. Ejemplos:

* `SELECT COUNT(DNI),provincia FROM ALUMNOS GROUP BY provincia;`
* `SELECT COUNT(DNI),provincia FROM alumnos GROUP BY provincia ORDER BY provincia ASC;`

Con `GROUP BY` podemos usar la opción `HAVING`. Una cláusula `HAVING` es como una cláusula `WHERE`, pero que solo se aplica a los grupos en su totalidad (es decir, a las filas del conjunto de resultados que representa los grupos), a diferencia de la cláusula `WHERE`, que se aplica a filas individuales. `HAVING` puede usarse como un `WHERE` del siguiente modo:
* `SELECT * FROM aulas group by codaula having capacidad>=(select ’50’);`
* `SELECT * FROM aulas group by codaula having capacidad>=’50’;`
* `SELECT COUNT(DNI),lower(provincia) FROM ALUMNOS GROUP BY lower(provincia) having lower(provincia)='cadiz' or lower(provincia)='sevilla';`

Las dos búsquedas anteriores coinciden con:
* `SELECT * FROM aulas WHERE capacidas>=50;`

Obtenemos aquellos alumnos que están matriculados de más de 10 créditos:
* `SELECT DNI, SUM(creditos) FROM matriculas, asignaturas WHERE asignaturas.codasig=matriculas.codasig
GROUP BY DNI HAVING SUM(creditos)>=10;`
* `SELECT DNI, SUM(creditos) scr FROM matriculas, asignaturas WHERE asignaturas.codasig=matriculas.codasig
GROUP BY DNI HAVING scr>=10;`

La siguiente búsqueda nos da la asignatura con más aprobados (*):
* `SELECT codasig FROM matriculas WHERE calificacion>=5
GROUP BY codasig HAVING COUNT(*)>= (SELECT count(*) c FROM matriculas WHERE calificacion>=5 GROUP BY codasig order by c desc);`
* `select aa from (select a1,count(a2) aa from t1 group by a1) tt;`

Podemos agrupar usando varios atributos:
* `select count(*),provincia,beca from alumnos group by provincia,beca;`

`create temp view taux1 as select a.codasig,dni,creditos from matriculas m,asignaturas a where m.codasig=a.codasig;`

`select dni,sum(creditos) sc from taux1 group by dni having sc >= 10;`

## Ejercicios sobre consultas


1. Número de alumnos en cada asignatura y suma total pagada por ella si cada crédito sale a $10.50$ euros.
2. Nombre, código y número total de alumnos en los que haya menos de 5 alumnos matriculados.
3. Mostrar todas las aulas que tengan una capacidad comprendida entre 30 y 50.
4. Nombre de los alumnos procedentes de fuera de la provincia de C\'{a}diz.
5. Nombre de los alumnos con DNI comenzando con 35.
6. Alumnos que no est\'{e}n matriculados de ninguna asignatura optativa.
7. Alumnos matriculados en alguna asignatura de cuarto. Mostrar a los alumnos en orden descendente de edad.
8. NRP de los profesores que impartan una \'{u}nica asignatura.
9. Alumnos que est\'{e}n matriculados tan solo en asignaturas de segundo curso.
10. Profesores que impartan m\'{a}s de una asignatura diferente.
11. Nombre de los alumnos que hayan obtenido la peor calificaci\'{o}n en la asignatura con c\'{o}digo '0001'.
12. Aulas donde no se imparte la asignatura de c\'{o}digo '0001'.
13. Profesores que impartan clase a todos los alumnos matriculados en alguna asignatura de cuarto.
14. Alumnos que tienen como profesores todos los profesores del departamento con c\'{o}digo 'dep1'.
15. Alumnos de tercero con todas sus calificaciones superiores a 8.
16. Listado con provincia y número de alumnos de esa provincia.
17. Capacidad media de las aulas donde se imparten asignaturas de primero.
18. Media de créditos matriculados y créditos totales según provincia.
19. Número total de categorías.
20. Departamentos con profesores de todas la categorías.
21. Alumnos matriculados de todas las asignaturas de primero.
22. Nota media de los alumnos de un profesor

## Librería `sqlite3`
[extraido de zetcode](http://zetcode.com/db/sqlitepythontutorial/)

Para usar la librería tenemos que importarla

In [8]:
import sqlite3

Nos conectamos con la orden `sqlite3.connect`. Es igual que el `.open fichero.datos` que hemos usado con el `sqlite3.exe`

In [12]:
con = sqlite3.connect('bd1.datos') # es lo mismo que .open bd2.datos, si existe la lee y si no existe la crea

Antes de nada, obtenemos el cursor de la base de datos

In [13]:
cur = con.cursor()

Con el cursor enviamos órdenes

In [14]:
cur.execute('create table t1 (dni integer primary key, nombre varchar(20) )')

Para terminar cerramos la conexión

In [15]:
con.close() #cerrar bd2.datos

Ahora, todo junto

In [17]:
con = sqlite3.connect('test3.datos') # es lo mismo que .open test.datos
cur = con.cursor()
cur.execute('drop table if exists t1')
cur.execute('create table t1 (dni integer primary key, nombre varchar(20) )')
con.close()

Para insertar es necesario usar la orden `con.commit()`

In [18]:
con = sqlite3.connect('test3.datos')
cur = con.cursor()
cur.execute("insert into t1 values(222,'juan1'),(2344444,'pepe1')")
cur.execute("insert into t1 values(111111,'antonio'),(777,'jose')")

con.commit() #es necesario si insertamos
con.close()

Vemos ahora como hacer una selección. Se utiliza la orden `cur.fetchall()` y nos devuelve una lista con los resultados

In [41]:
con = sqlite3.connect('test3.datos')
cur = con.cursor()

cur.execute("select * from t1")
laux=cur.fetchall()
con.close()
print(laux)

[(222, 'juan1'), (777, 'jose'), (111111, 'antonio'), (2344444, 'pepe1')]

In [42]:
dnis=[x[0] for x in laux]
dnis

[222, 777, 111111, 2344444]

In [45]:
q="select * from t1 where dni='{1}' or dni='{0}'".format(dnis[2],dnis[0])
print("La búsqueda es: \"{0}\";".format(q))

con = sqlite3.connect('test3.datos')
cur = con.cursor()

cur.execute(q)
laux1=cur.fetchall()
con.close()
print(laux1)

La búsqueda es: "select * from t1 where dni='222' or dni='111111'";
[(222, 'juan1'), (111111, 'antonio')]

### Más código (con lo anterior es suficiente)

In [36]:
l1=[(1,'a'),(2,'b'),(3,'c')]

for x,y in l1:
    print(x,'-',y)

1 - a
2 - b
3 - c

In [38]:
x=1111
a='AAAA'
str(x)+a

'1111AAAA'

In [41]:
con = sqlite3.connect('test3.datos')
cur = con.cursor()

for x,y in l1:
    insercion="insert into t1 values( %d ,'%s')" % (x,y)
    print(insercion)
    cur.execute(insercion)
con.commit()

con.close()

insert into t1 values( 1 ,'a')
insert into t1 values( 2 ,'b')
insert into t1 values( 3 ,'c')

In [43]:
con = sqlite3.connect('test3.datos')
cur = con.cursor()
cur.execute("select * from t1 where dni like '%2%'")
data = cur.fetchall()
print(data)
con.close()

for x,y in data:
    print(x,'-',y)

[(2, 'b'), (222, 'juan1'), (2344444, 'pepe1')]
2 - b
222 - juan1
2344444 - pepe1

In [48]:
con = sqlite3.connect('test3.datos')
cur = con.cursor()
cur.execute("drop table t1")
con.close()

In [46]:
con = sqlite3.connect('test3.datos')
cur = con.cursor()
cur.execute("delete from t1 where dni=222")
con.commit()
con.close()

In [26]:
dni,nombre=7777,"jose"
"insert into t1 values("+str(dni)+",'"+nombre+"')"

"insert into t1 values(7777,'jose')"

In [2]:
def insertar(dni,nombre):
    con = sqlite3.connect('test3.datos')
    cur = con.cursor()
    cur.execute( "insert into t1 values(%d,'%s')" % (dni,nombre) )
    con.commit() #es necesario si insertamos
    con.close()

In [54]:
insertar(22,'b2')

In [ ]:
def insertar1(dni,nombre,cur):
    cur.execute( "insert into t1 values(%d,'%s')" % (dni,nombre) )
    con.commit() #es necesario si insertamos

In [29]:
dni=123
"select * from t1 where dni="+str(dni)

'select * from t1 where dni=123'

In [3]:
def buscar(dni):
    con = sqlite3.connect('test3.datos')
    cur = con.cursor()
    cur.execute("select * from t1 where dni=%d" % (dni,) )
    data = cur.fetchall()
    #print(data)
    con.close()
    return data

In [ ]:
buscar(234)

In [37]:
data=buscar(222)
data[0][0]

[(222, 'juan1')]

222

In [6]:
opcion=""
while opcion!="3":
    print("\n1.- Insertar dni,nombre")
    print("2.- Buscar por dni")
    print("3.- Salir")
    opcion=input("Opcion: ")
    print()
    if(opcion=="1"):
        try: 
            dni=int(input("DNI: "))
            nombre=input("Nombre: ")
            insertar(dni,nombre)
        except:
            print("La próxima vez inserta un entero")
    elif(opcion=="2"):
        dni=int(input("DNI a buscar:"))
        data=buscar(dni)
        if len(data)==0:
            print("No hay personas con ese dni")
        else:
            print(str(data[0][0])+" es el dni de "+data[0][1])
    elif(opcion=="3"):
        pass

1.- Insertar dni,nombre
2.- Buscar por dni
3.- Salir
Opcion: 2

DNI a buscar:77
77 es el dni de ddd

1.- Insertar dni,nombre
2.- Buscar por dni
3.- Salir
Opcion: 3

In [ ]:
for x in data:
    print(x[0],x[1])

Vemos la versión de la librería

In [15]:
sqlite3.version

'2.6.0'

In [16]:
sqlite3.sqlite_version

'3.28.0'

Podemos ejecutar la siguiente orden para ver la versión usada en un fichero que guarda una base de datos con la siguiente orden. Podemos probar a ejecutar la orden `SELECT SQLITE_VERSION()` desde el programa `sqlite3.exe` y ver si devuelve o no el mismo resultado

In [50]:
try:
    con = sqlite3.connect('test.db')
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchall()
    print("SQLite version: %s" % data )
except sqlite3.Error as e:
    print("Error %s:" % e.args[0])
finally:    
    if con:
        con.close()

SQLite version: [('3.8.11',)]

Otra forma de realizar lo anterior.

In [51]:
con = sqlite3.connect('test.db')
with con:
    cur = con.cursor()    
    #cur.execute('SELECT SQLITE_VERSION()')
    cur.execute('select datetime()')
    data = cur.fetchone()
    print("SQLite version: %s" % data)
    
con.close()

SQLite version: 2017-12-19 12:55:55

Podemos crear tablas del siguiente modo

In [53]:
con = sqlite3.connect('test.db')
with con:
    cur = con.cursor()    
    cur.execute("DROP TABLE if exists Cars")
    cur.execute("CREATE TABLE Cars(Id INT, Name TEXT, Price INT)")
    cur.execute("INSERT INTO Cars VALUES(1,'Audi',52642)")
    cur.execute("INSERT INTO Cars VALUES(2,'Mercedes',57127)")
    cur.execute("INSERT INTO Cars VALUES(3,'Skoda',9000)")
    cur.execute("INSERT INTO Cars VALUES(4,'Volvo',29000)")
    cur.execute("INSERT INTO Cars VALUES(5,'Bentley',350000)")
    cur.execute("INSERT INTO Cars VALUES(6,'Citroen',21000)")
    cur.execute("INSERT INTO Cars VALUES(7,'Hummer',41400)")
    cur.execute("INSERT INTO Cars VALUES(8,'Volkswagen',21600)")

con.close()

Otra forma de hacer lo anterior es la siguiente

In [19]:
cars = (
    (1, 'Audi', 52642),
    (2, 'Mercedes', 57127),
    (3, 'Skoda', 9000),
    (4, 'Volvo', 29000),
    (5, 'Bentley', 350000),
    (6, 'Hummer', 41400),
    (7, 'Volkswagen', 21600)
)
con = sqlite3.connect('test.db')
with con:
    cur = con.cursor()    
    cur.execute("DROP TABLE IF EXISTS Cars")
    cur.execute("CREATE TABLE Cars(Id INT, Name TEXT, Price INT)")
    cur.executemany("INSERT INTO Cars VALUES(?, ?, ?)", cars)
con.close()

y otra más

In [35]:
try:
    con = sqlite3.connect('test.db')
    cur = con.cursor()  
    cur.executescript("""
        DROP TABLE IF EXISTS Cars;
        CREATE TABLE Cars(Id INT, Name TEXT, Price INT);
        INSERT INTO Cars VALUES(1,'Audi',52642);
        INSERT INTO Cars VALUES(2,'Mercedes1',57127);
        INSERT INTO Cars VALUES(3,'Skoda',9000);
        INSERT INTO Cars VALUES(4,'Volvo',29000);
        INSERT INTO Cars VALUES(5,'Bentley',350000);
        INSERT INTO Cars VALUES(6,'Citroen',21000);
        INSERT INTO Cars VALUES(7,'Hummer',41400);
        INSERT INTO Cars VALUES(8,'Volkswagen1',21600);
        """)
    #con.commit()
except sqlite3.Error as e:
    if con:
        con.rollback()
    print("Error %s:" % e.args[0])
    sys.exit(1)
finally:
    if con:
        con.close()

Para obtener el resultado de una búsqueda usamos el método `cur.fetchall`

In [54]:
con = sqlite3.connect('test.db')
with con:    
    cur = con.cursor()    
    cur.execute("SELECT * FROM Cars")
    rows = cur.fetchall()
    for row in rows:
        print(row[0],row[1],row[2],type(row))
        #print (row["Id"], row["Name"], row["Price"])
con.close()

1 Audi 52642 <class 'tuple'>
2 Mercedes 57127 <class 'tuple'>
3 Skoda 9000 <class 'tuple'>
4 Volvo 29000 <class 'tuple'>
5 Bentley 350000 <class 'tuple'>
6 Citroen 21000 <class 'tuple'>
7 Hummer 41400 <class 'tuple'>
8 Volkswagen 21600 <class 'tuple'>

In [55]:
rows

[(1, 'Audi', 52642),
 (2, 'Mercedes', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Citroen', 21000),
 (7, 'Hummer', 41400),
 (8, 'Volkswagen', 21600)]

Con las siguientes órdenes obtenemos los nombres y la orden con la que se crearon las tablas de una base de datos. La orden `SELECT name,sql FROM sqlite_master WHERE type='table'` pueden probarse desde dentro del programa `sqlite3.exe test.db` y ver que nos devuelve el mismo resultado

In [64]:
import sqlite3
con = sqlite3.connect('test.db')
with con:    
    cur = con.cursor()    
    cur.execute("SELECT name,sql FROM sqlite_master WHERE type='table'")
    rows=cur.fetchall()
    print(rows)
con.close()

[('Cars', 'CREATE TABLE Cars(Id INT, Name TEXT, Price INT)')]

Podemos definir la siguiente función para realizar búsquedas en una base de datos

In [59]:
def ejecutaOrden(orden,baseDeDatos):
    rows=[]
    con = sqlite3.connect(baseDeDatos)
    with con:    
        cur = con.cursor()    
        cur.execute(orden)
        rows = cur.fetchall()
    con.close()
    return rows

In [57]:
ejecutaOrden('select * from Cars','test.db')

[(1, 'Audi', 52642),
 (2, 'Mercedes', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Citroen', 21000),
 (7, 'Hummer', 41400),
 (8, 'Volkswagen', 21600)]

In [44]:
ejecutaOrden("insert into Cars values (2,'Audi',52642)",'test.db')

[]

In [45]:
ejecutaOrden('select * from Cars','test.db')

[(1, 'Audi', 52642),
 (2, 'Mercedes1', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Citroen', 21000),
 (7, 'Hummer', 41400),
 (8, 'Volkswagen1', 21600),
 (2, 'Audi', 52642),
 (2, 'Audi', 52642)]

In [63]:
ejecutaOrden('select * from alumnos','bd2')

[('12312312', 'jose jose', '1995-01-02', 'calle 11', 'CADIZ', 'no'),
 ('12312377', 'alfredo', None, None, None, None),
 ('d1', 'juan', '2000-01-01', 'calle1', 'cadiz', 'si'),
 ('d2', 'pepejuan', '2001-01-01', 'calle1', 'cadiz', 'si'),
 ('d3', 'antonio', '2002-01-01', 'calle2', 'malaga', 'no'),
 ('d4', 'jose juan', '2000-01-01', 'calle1', 'malaga', 'no'),
 ('d5', 'luis juan', '1999-01-01', None, 'sevilla', 'si'),
 ('d6', 'ana', '2007-03-07', None, 'cadiz', 'no'),
 ('d7', 'juan', '2001-02-03', 'calle 5', 'sevilla', 'no')]

In [65]:
import sqlite3
con = sqlite3.connect('bd2')
with con:    
    cur = con.cursor()    
    cur.execute("SELECT name,sql FROM sqlite_master WHERE type='table'")
    rows=cur.fetchall()
    print(rows)
con.close()

[('TT1', 'CREATE TABLE TT1 (a1 integer)'), ('alumnos', 'CREATE TABLE alumnos(\nDNI CHAR(8) PRIMARY KEY,\nnomalum VARCHAR(50),\nfechanac DATE, direccion VARCHAR(40),\nprovincia VARCHAR(20), beca VARCHAR(2)\n)'), ('departamentos', 'CREATE TABLE departamentos(\ncoddep CHAR(4) PRIMARY KEY,\nnomdep VARCHAR(50) NOT NULL,\nNRPdir CHAR(8)\n)'), ('profesores', "CREATE TABLE profesores(\n    NRP CHAR(8) not null PRIMARY KEY,\n    nomprof VARCHAR(35) NOT NULL,\n    categoria CHAR(2) CHECK (categoria IN ('AS','TE','TU','CU')),\n    area VARCHAR(20), \n    coddep CHAR(4) REFERENCES departamentos(coddep)\n)"), ('aulas', 'CREATE TABLE aulas(\ncodaula CHAR(4) PRIMARY KEY,\ncapacidad DECIMAL CHECK (capacidad BETWEEN 0 AND 150)\n)'), ('asignaturas', "CREATE TABLE asignaturas(\ncodasig CHAR(4) PRIMARY KEY,\nnomasig VARCHAR(30) UNIQUE, creditos DECIMAL(4,1),\ncaracter CHAR(2) CHECK (caracter IN ('tr','ob','op')),\ncurso DECIMAL CHECK (curso BETWEEN 1 AND 5)\n)"), ('grupos', "CREATE TABLE grupos(\n    codgrupo CHAR(4), codasig CHAR(4),\n    tipo CHAR(1) CHECK (tipo IN ('T', 'P')),\n    NRP CHAR(4),\n    maxal INT CHECK (maxal BETWEEN 10 AND 150),\n    PRIMARY KEY (codasig,codgrupo, tipo),\n    FOREIGN KEY (codasig) REFERENCES asignaturas(codasig)\n        ON DELETE CASCADE\n        ON UPDATE CASCADE,\n    FOREIGN KEY (NRP) REFERENCES profesores(NRP)\n        ON DELETE SET NULL\n        ON UPDATE CASCADE\n)"), ('matriculas', 'CREATE TABLE matriculas(\n    codasig CHAR(4), codgrupo CHAR(4), tipo CHAR(1),\n    DNI CHAR(8) REFERENCES alumnos(DNI),\n    convocatoria DECIMAL DEFAULT 1,\n    calificacion DECIMAL CHECK ((calificacion>=0)AND(calificacion<=10)),\n    PRIMARY KEY (codasig,codgrupo,tipo,DNI,convocatoria),\n    FOREIGN KEY(codasig,codgrupo, tipo) \n        REFERENCES grupos (codasig,codgrupo,tipo)\n)'), ('clases', "CREATE TABLE clases(\ncodaula CHAR(4) REFERENCES aulas(codaula),\ndia CHAR(1) CHECK (dia in ('L','M','X','J','V')),\nhora TIME,\ncodgrupo CHAR(4),\ncodasig CHAR(4),\ntipo CHAR(1),\nPRIMARY KEY (codaula,dia,hora),\nFOREIGN KEY(codasig,codgrupo, tipo) REFERENCES grupos\n(codasig,codgrupo,tipo)\n)"), ('dirige', 'CREATE TABLE dirige(\n    NRP CHAR(8) primary key,\n    coddep CHAR(4) unique,\n    foreign key (NRP) references profesores(NRP),\n    foreign key (coddep) references departamentos(coddep)\n)'), ('T1', 'CREATE TABLE T1 (a1 integer,a2 varchar(2))'), ('T2', 'CREATE TABLE T2 (a2 varchar(2))'), ('tabla1', 'CREATE TABLE tabla1(a integer)')]

In [69]:
print(rows[1][1])

CREATE TABLE alumnos(
DNI CHAR(8) PRIMARY KEY,
nomalum VARCHAR(50),
fechanac DATE, direccion VARCHAR(40),
provincia VARCHAR(20), beca VARCHAR(2)
)

In [70]:
def pC(x):
    return '"'+x+'"'

In [72]:
print( pC('a') )

"a"

In [73]:
nombre="juan"
'select * from alumnos where nombre='+pC(nombre)

'select * from alumnos where nombre="juan"'

In [79]:
def alumnoNuevo(dni,nombre,fechanac,direccion,provincia,beca):
    orden='insert into alumnos values ('+pC(dni)+','+pC(nombre)+','+pC(fechanac)+','+pC(direccion)+','+pC(provincia)+','+pC(beca)+')'
    #print(orden)
    ejecutaOrden(orden,'bd2')

In [81]:
alumnoNuevo('dni3','pepito','2000-01-01','calle numero1','cadiz','si')